body{
    font-family:  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; 
}

.mobile{
    display:none
}
.desktopTablet{
    display:block
}

#wrapper{

    position: relative;
    margin: 0 auto;
    padding:0;
    max-width:951.5px;/* He puesto el max-width: 951.5px ya que veo que es el que uitlizais en vueling.com*/
    width: 100%;
}

  
#header,.section,#aside,#footer{
    position:relative;
    border-radius:11px;
    border:3px solid;
}

#header{

    position:relative;
    border-color:#f7b555;  
    font-size: 16px;
    width:98.3%;
    height:83px;
    color:#3d39c1;
    text-align: left;
    margin-bottom: 3px;        
}

h1{
    font-size:16px;
    margin:15px 0px 0px 10px;
    text-align: left
}

#header p{
    position:absolute;
    bottom:-10px;
    right:6px;
    font-size:12px;  
}

.article{
    position:relative;
    height: 406px;
    margin:0 auto;
    margin-bottom: 6px;
    width:100%;
   
}

.section:first-child,#aside{ 
    border-color:#feef7c; 
    width:23%; 
    height:99%;
    float:left
    
}
.section:nth-child(2){ 
    position:relative;
    border-color:#3632ff;
    height:99%;
    font-size:12px; 
    width:49%;
    float:left;
    line-height:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:0.9%;
    margin-left:0.9%;
}

.section ul{
    position: absolute;
    font-size:12px; 
    left:-23px;
    top:-5px
}

.section li {
    list-style-type: none;
}
.section li:before{
    content: "-"
} 

.section:nth-child(2) p{
    width: 100px;
}

#aside ul{
    margin-top:5%;
} 

#aside li {
    list-style-type: none;
    border:2px solid #ff3535;
    width:105%;
    height: 55px;
    font-size: 12px;
    border-radius: 11px;
    margin-left: -31px;
    margin-bottom: 11px; 
    padding:5px
}

#footer{
      border-color:#ffb346;
      width:98.3%;
      height:88px;
      clear: both
}

#footer p{
    position:absolute;
    font-size:12px;
    color:#e84139;
    bottom:-8px;
    left:22px
}

/************************************************************************************************************************************/
@media screen and (max-width:600px) and (min-width:491px) {
    #header,#footer{
    
   width:98.4%;
}

    .section:nth-child(2){
    width:48%;
}

}
/************************************************************************************************************************************/
@media screen and (max-width:490px) {

body{
   width:100%;
   margin:0;
   overflow:hidden
}

.desktopTablet{
    display:none
}

.mobile{
    display:block
}

#wrapper{ 
    margin-top:2%;
    width:98%;
}


#header{
    height:41px;
    width:97.5%;
    margin: 0 auto
    
}

h1{
    font-size: 16px;
    margin:2px 0px 0px 9px;
}

#header p{
    position:absolute;
    bottom:-10px;
    right:6px;
    font-size:10px;  
}

.section:first-child{ 
    position:absolute;
    top:176px;
    left:0;
    right:0;
    margin: 0 auto;
    width:97.5%;
    height:43px;
     
}

.section:nth-child(2){
    position:absolute; 
    height:164px; 
    left:0;
    right:0;
    margin: 0 auto;
    margin-top:3px;
    width:97.5%;
  
}

.section:nth-child(2) p{
    position:absolute; 
    top:37%;
    right:0;
    left:0;
    margin:auto;

}

#aside{
    width:97.5%;
    height:43px;
    margin:0 auto;
    margin-top: 229px;
    margin-bottom:3px;
    margin-left:0.5%
}

#aside ul{
    margin-top:0;
    text-align: left;
    margin-left:-34px
     
} 

#aside li,.section li{
    display:inline-block;  
}

.section ul{
    position: absolute;
    font-size:12px; 
    left:-31px;
    top:0px
}

#aside li {
    list-style-type: none;
    border:2px solid #ff3535;
    width:30px;
    height:19px;
    margin-top: 4.5px;
    font-size: 12px;
    padding-left:3px;
    margin-left:0px;
    text-align: left;
    margin-bottom: 0px; 
    border-radius: 11px;
   
}

.article{
    height: 1%;
}

#footer{
    width:97.6%;
    height: 40px;
    margin:0 auto
} 

#footer p{
    bottom:-13px;
    left:8px
}

}